
<body>

	<p>
	Welcome to my page.<br> 
	<br>
	I am a group leader at the Physikalisch-Technische Bundesanstalt Braunschweig.
	Before that I was a Postdoctoral Fellow in the group of Wolfgang Huber at the 
	European Molecular Biology Laboratory (EMBL) Heidelberg, Germany, and a visiting
	Postdoctoral Fellow in the group of Jan Kosinski at the 
	European Molecular Biology Laboratory (EMBL) Hamburg, Germany. My 
	research projects focus on computational proteomics and metabolomics. 
	</p>
</body>
